.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.transaction-info {
    .description {
        font-weight: 500;
    }

    .category {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.6);
    }
}

.amount {
    font-weight: 500;

    &.income {
        color: #4caf50;
    }

    &.expense {
        color: #f44336;
    }
}

:host-context(.dark-theme) {
    .category {
        color: rgba(255, 255, 255, 0.6);
    }
}